<!doctype html>
<html lang="en-gb">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Fullstack Todo App</title>
		<link rel="stylesheet" href="/css/main.css">
		<script src="/js/main.js" defer></script>
	</head>
	<body>
		<h2>Todos</h2>
		<div class="section-todos">
			<% if(todos.length === 0) { %>
				<p>No todos found</p>
			<% } else { %>
				<ul class="list-todos">
					<% for(const {_id, text, done} of todos) { %>
						<% const checked = done ? 'checked' : '' %>
						<li data-uid="<%= _id %>" class="todo">
							<label>Mark as done<input type="checkbox" class="checkbox-done" <%= checked %>></label>
							<span class="todo-text"><%= text %></span>
							<button type="button" class="button-edit">Edit</button>
							<button type="button" class="button-delete">Delete</button>
						</li>
					<% } %>
				</ul>
			<% } %>
		</div>

		<h2>Add A Todo</h2>
		<form action="/api/todos" method="post" id="form-submit">
			<label>New todo: <input type="text" name="text"></label>
			<button type="submit">Add todo</button>
		</form>
	</body>
</html>