/* Resets */

*,
*::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

button,
input {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	text-transform: none;
}

button[type="button"],
button[type="submit"] {
	-webkit-appearance: button;
}

button[type="button"]::-moz-focus-inner,
button[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button[type="button"]::-moz-focusring,
button[type="submit"]::-moz-focusring {
	outline: 1px dotted ButtonText;
}


/* Base Styles */

html {
	margin: auto;
	color: hsl(240, 10%, 10%);
	font: 125%/1.5 arial, sans-serif;
}

body {
	padding: 2rem;
	background: hsl(240, 10%, 85%);
	display: grid;
	grid-template: auto auto / minmax(12rem, 40rem);
	justify-content: center;
}

h2 {
	margin: 3rem 0 1.38rem;
  font-weight: 700;
	font-size: 3.157rem;
	line-height: 1.3;
}

button,
input[type="text"] {
	min-height: 44px;
	min-width: 44px;
	padding: 0.25rem 0.5rem;
}

button {
	background: midnightblue;
	color: hsl(240, 10%, 95%);
	border: 1px solid hsl(240, 10%, 25%);
	border-radius: 0.5rem;
}

button:hover {
	background: hsl(240, 65%, 35%);
	cursor: pointer;
}

button:focus {
	outline: 4px solid midnightblue;
	outline-offset: 2px;
	box-shadow: 0 0 0 2px white;
}

button:not(:focus-visible) {
	outline: none;
	box-shadow: none;
}

button:active {
	background: midnightblue;
	transform: scale(1.05);
}

input[type="text"] {
	border: 2px solid hsl(240, 10%, 75%);
	padding: 0.25rem 0.75rem;
}

input[type="text"]:focus {
	outline: none;
	border: 2px solid midnightblue;
	border-left-width: 6px;
	padding-left: calc(0.75rem - 4px);
}

ul {
	padding-left: 1rem;
}

form {
	display: inline-block;
}


/* Update notification */

.output--notification--page {
	position: fixed;
	z-index: 2;
	top: 2rem;
	left: 50%;
	transition: 0.1s ease-in-out;
	transition-property: visibility, opacity, transform;
	background: hsla(240, 100%, 100%, 0.9);
	padding: 0.5rem 1rem;
	width: max-content;
	border: 2px solid hsl(240, 10%, 75%);;
	border-radius: 0.5rem;
}

.output--notification--page[data-js="output--notification--page"] {
	visibility: hidden;
	opacity: 0;
	transform: translate(-50%, -100%);
}

.output--notification--page[data-js="output--notification--page"].js-show {
	visibility: visible;
	opacity: 1;
	transform: translate(-50%, 0%);
}


/* Add todo */

.section--add-todos--page {
	padding-bottom: 2rem;
	border-bottom: 1px solid hsl(240, 10%, 75%);
}

.button--add-todo-form--submit {
	margin-top: 0.5rem;
}

@media(min-width: 26.65rem) {
	.input--add-todo-form--new-todo[type="text"],
	.input--add-todo-form--new-todo[type="text"]:focus {
		border-top-left-radius: 0.5rem;
		border-bottom-left-radius: 0.5rem;
		border-right-width: 0;
	}

	.button--add-todo-form--submit {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}

